:root {
    --userColor: #4b4f75; /* Default value */
  }

.userColored {
color: var(--userColor);
}

/*big stuff----------------------*/

  


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*above canvas-------------------*/

#timerDisplay
{
    font-size: 24px;
}

#wordDisplay {
    font-size: 2.5em; /* Adjust title size */
    display: inline-block; /* Prevent full width occupation */
    margin: 20px;
  }

.checkbox-block {
    display: flex;
    align-items: center;
    margin: 20px;
}
.checkbox-block input[type="checkbox"] {
    width: 30px;
    height: 30px;
}
.checkbox-block .text-container {
    margin-left: 10px;
}
.checkbox-block .big-text {
    font-size: 24px;
}
.checkbox-block .small-text {
    font-size: 14px;
}


/*canvas-----------------------*/

.canvas-container {
    background-color: white;
    border-radius: 5px;
}
  
.grid {
    display: grid;
    aspect-ratio: 1/1;
    padding: 10px;
}

.square {
    background-color: white;
}

.square.painted {
    background-color: black;
}



.hover-text {
    position: fixed; /* Changed to fixed */
    display: none;
    background-color: #ff00ff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 5;
}

.color-palette {
    display: flex;
    width: 420px;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content: center;
  }
  
  .color-button {
    width: 30px;
    height: 30px;
    border: #ffffff;
    margin: 5px;
    cursor: pointer;
    border-radius: 10%;
    transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55); /* Apply transition to both states */
  }


.color-button[data-selected="true"] {
    transform: scale(1.5); /* Scale the element to 120% of its original size */
    transition: transform 0.3s cubic-bezier(.68,-0.55,.27,1.55); /* Add transition for bounce effect */
}


/*game container-----------------------*/
.container {
    display: flex;
    height: 100vh;
    padding-bottom: 200px;
    box-sizing: border-box;
    background-color: rgb(179, 111, 137);
    flex-direction: column; /* Arrange items top to bottom */
    align-items: center; /* Center the content horizontally */
}

/*game container-----------------------*/
.leftToRight {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*chat---------------------------------*/
.chat {
    margin-left: 20px;
    width: 300px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
    max-height: 400px;
    background-color: #eec5eb;
}


.message-icon {
    padding-right: 3px;
}

/* Styles for messages without an author */
.message.message-no-author {
    color: black;
    text-align: center;
    align-items: center;
}

.message {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    overflow-wrap: break-word; /* Ensure long words wrap */
    vertical-align: middle; /* Ensures the icon aligns with text */
}

button { /*send button*/
    width: 80px;
    padding: 5px;
    margin-left: 10px;
}

.input-container { /*message input*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Adjust the value to create the desired space */

}

/*username screen---------------------------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.textInput {
    flex-grow: 1;
    padding: 5px;
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/*player list---------------------------------------*/
.player-list {
    margin-right: 20px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    width: 300px; /* Adjust as needed */
    max-height: 500px; /* Adjust as needed */
    border-radius: 5px;

}

.player {
    display: flex;
    align-items: center;
    background-color: #4b4f75;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    overflow-wrap: break-word; 
    color: white;
}

.player-icon {

    font-size: 24px;
    margin-right: 10px;
}


.player-name {
    font-weight: bold;
    margin-right: 10px;
    color: white;
}
